 
head{
    background-color: rgb(160, 153, 145);
}
div{
    color: black;
    text-align: left;
    margin-left: 3px;
    padding: 2px;
}
body{
    text-align: center;

}
img{
    size: 50px;
    text-align: center;
}
 